# personal progress of `check`
.progress/
# fixtures created by `play`
play/
# local copy of the course source files used to write the theory quizzes (not part of the repository)
course-material/source/
